.kargo-main {
	margin:0px auto;
	width:800px;
}

.kargo-main-header {
	background-color:black;
	padding: 40px 20px;
}

.kargo-logo {
	color:#fff;
	text-transform:uppercase;
}

.kargo-coded-by {
	color:red;
}

.kargo-posts-list {
	padding:40px;
}

.kargo-posts-list .list-table-cont {
	position:relative;
}

.kargo-posts-list .fa-spinner {
	color:#666;
	display:block;
	font-size:100px;
    margin: 0px auto;
    text-align:center;
    width: auto;
}

/* utilities */
.relative-container {
	position:relative;
}