<div class="kargo-post-details">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3>Post details for post: {{ post.id }}</h3>
				<div class="relative-container">
					<div loading-image loading="postLoading" font-size="50px"></div>
					<ul class="list-group" ng-hide="postLoading">
					  <li class="list-group-item">id: {{ post.id }}</li>
					  <li class="list-group-item">userId: {{ post.userId }}</li>
					  <li class="list-group-item">title: {{ post.title }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div loading-image loading="trackerLoading" font-size="50px"></div>
				<div ng-hide="trackerLoading">
					<h3>
						<!-- <span class="label label-info">Tracker hit data from {{data.fromDate}} to {{data.toDate}}</span> -->
						<p class="input-group">
							<span class="input-group-addon">Tracker hit data from: </span>
  							<input type="text" class="form-control" ng-model="data.fromDate" datepicker-popup="{{format}}"
  								   is-open="data.fromDatepickerOpened" close-text="Close" />
  							<span class="input-group-btn">
  								<button type="button" class="btn btn-default" ng-click="open('from')">
  									<i class="glyphicon glyphicon-calendar"></i>
  								</button>
  							</span>
  							<span class="input-group-addon"> to: </span>
  							<input type="text" class="form-control" ng-model="data.toDate" datepicker-popup
  								   is-open="data.toDatepickerOpened" close-text="Close" />
  							<span class="input-group-btn">
  								<button type="button" class="btn btn-default" ng-click="open('to')">
  									<i class="glyphicon glyphicon-calendar"></i>
  								</button>
  							</span>
						</p>
					</h3>
					<pre>{{ data.trackers | json }}</pre>
				</div>
			</div>
		</div>
	</div>
</div>